<h1>Home</h1>
 <h2> menu </h2>

<ul>
  <% @categories.each do |category| %>
  <li><%= category.name %></li>
  <% end %>
</ul>

<table>
  <thead>
    <tr>
      <th>Categories <%=@categories.count %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
