<!-- <%= link_to "#{current_order.items.size} items in card and price #{current_order.subtotal}", carts_path %> -->

 <%= link_to carts_path do %>
  <span class="badge"><%= current_order.items.size %></span>
  <span class="glyphicon glyphicon-shopping-cart"></span>
 <% end %>
