<%= link_to "#{current_order.items.size} items in card and price #{current_order.subtotal}", carts_path %>
 <!-- <span class="badge">12</span> -->
 <!-- https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_list_group_badge&stacked=h -->
